<!DOCTYPE>
<html>
 <head>
  <title>Ruby on Rails Tutorial Mwlaki app |<%= @title %> </title>
  </head> 

<body>
 <h1>About Mwlaki App</h1>
<p>about  inaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p> 
  
</body>

</html>