<!DOCTYPE>
<html>
 <head>
  <title>Ruby on Rails Tutorial Mwlaki app |<%= @title %> </title>
  </head> 

<body>
 <h1>Contact Mwlaki App</h1>
<p>contact inaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p> 
  
</body>

</html>