<!DOCTYPE>
<html>
 <head>
  <title>Ruby on Rails Tutorial Mwlaki app | <%= @title %> </title>
  </head> 

<body>
 <h1>Mwlaki App</h1>
<p>inaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p> 
  
</body>

</html>